<!DOCTYPE html>
<html>
	<head>
		<title>Recipe Share Page</title>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<h1 align="center">게시글 작성</h1>
		<form action="/save" method="PUT">
			<table id="post_table" border="1" align="center">
				<tr>
					<td>제목</td>
					<td><input type="text" id="title" name="title"></td>
				</tr>
				<tr>
					<td>메뉴</td>
					<td><input type="text" id="menu" name="menu"></td>
				</tr>
				<tr id="ingredient">
					<td id="ingredient_1">재료들</td>
					<td>
						<input type="text" id="ingredient" placeholder="재료" name="ingredient">
						<input type="text" id="amount" placeholder="양 입력" name="amount">
						<!-- <button id="btn-ingredient-add" onclick="addRow()">+</button>
						<button id="btn-ingredient-del" onclick="delRow()">-</button><br> -->
					</td>
				</tr>
				<tr>
					<td>조리법</td>
					<td>
						<input type="text" id="recipe" name="recipe">
						<!-- <button id="btn-recipe-add">+</button> -->
					</td>
				</tr>
				<tr>
					<td colspan="2" align="right"><button type="submit">저장</button></td>
				</tr>
			</table>
		</form>
		<a href="/post"><button>목록</button></a>
	</body>
</html>