<!DOCTYPE html>
<html>
	<head>
		<title>Recipe Share Page</title>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<h1 align="center">게시글 상세 내용</h1>
		<form th:action="@{/save}" th:method="POST">
			<table border="1" align="center" th:each="vo:${detailList}" th:if="${detailList.size() > 0}">
				<tr>
					<td>제목</td>
					<td th:text="${vo.title}"></td>
				</tr>
				<tr>
					<td>메뉴</td>
					<td th:text="${vo.menu}"></td>
				</tr>
				<tr>
					<td>재료들</td>
					<td th:text="${vo.ingredient}"></td>
				</tr>
				<tr>
					<td>조리법</td>
					<td th:text="${vo.recipe}"></td>
				</tr>
				<tr>
					<td colspan="200px">
						<button type="submit">저장</button>
					</td>
				</tr>
			</table>
		</form>
		<a th:href="@{/post}"><button>목록</button></a>
		<form th:action="@{/comment}" th:method="POST" align="center">
			<p>댓글 작성</p>
			<div th:each="vo:${detailList}" th:if="${detailList.size() > 0}">
				<textarea cols="50" name="comment"></textarea>
				<button type="submit">저장</button>
			</div>
		</form>
		<table border ="2" align="center">
			<tr th:each="vo:${commentList}" th:if="${commentList.size() > 0}">
				<td th:text="${vo.id}"></td>
				<td th:text="${#dates.format(vo.write_date, 'yyyy/MM/dd HH:mm:ss')}"></td>
				<td th:text="${vo.comment}"></td>
		</tr>
		</table>
	</body>
</html>