<!DOCTYPE html>
<html>
	<head>
		<title>Recipe Share Page</title>
		<meta charset="UTF-8"/>
	</head>
	<body>
		<h1 align="center">게시판 목록</h1>
		<table border="1" align="center">
			<thead>
				<th>순번</th>
				<th>메뉴</th>
				<th>제목</th>
				<th>작성자</th>
				<th>작성일자</th>
			</thead>
			<tbody>
				<!-- Post Table DB 내용 보여줘야 함. -->
				<tr data-th-each="vo:${postList}" data-th-if="${postList.size() > 0}">
					<td data-th-text="${vo.seq}"></td>
					<td data-th-text="${vo.menu}"></td>
					<td><a th:href="@{/detailpost(title=${vo.title})}"data-th-text="${vo.title}"></a></td>
					<td data-th-text="${vo.id}"></td>
					<td data-th-text="${#dates.format(vo.reg_date, 'yyyy/MM/dd HH:mm:ss')}" ></td>
				</tr>
				<tr>
					<td colspan="5"><a th:href="@{/addpost}"><button>작성</button></a></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>